<div>
    <span><%= articulo.producto %></span> <span><%= articulo.precio %></span>
    <a href="editar/<%= articulo.id %>">editar</a>
    <a href="borrar/<%= articulo.id %>/?_method=delete">borrar</a>
    <a href="ver/<%= articulo.id %>">ver</a>
</div>